# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/node_modules
node_modules
fullcalendar-examples
dist
dist-ssr
*.local
./Manil
Manil
frontBack
backend/venv
*.pyc
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/db.sqlite3
backend/db.sqlite3
backend/db.sqlite3
*.csv
*.xlsx
/backend/media
bfg-1.15.0.jar
Manil/Requêtes existantes/Moachir (NGBSS)/CA CNT.csv
Manil/Requêtes existantes/Moachir (NGBSS)/CA DNT.csv
Manil/Requêtes existantes/Moachir (NGBSS)/CA non periodique.csv
Manil/Requêtes existantes/Moachir (NGBSS)/CA periodique.csv
Manil/Requêtes existantes/Moachir (NGBSS)/Créances NGBSS.csv
Manil/Requêtes existantes/Moachir (NGBSS)/CA RFD.csv
Manil/Requêtes existantes/Moachir (NGBSS)/Parc Corporate NGBSS.csv
/Manil
backend/media
backend/db.sqlite3
backend/db.sqlite3
backend/media/invoices/CA_DNT.csv
backend/media/invoices/CA_non_periodique.csv
backend/media/invoices/CA_RFD.csv
backend/media/invoices/CA_periodique.csv
backend/media/invoices/Parc_Corporate_NGBSS.csv
backend/db copy.sqlite3
  # Add these lines to your .gitignore
   backend/db - Copy.sqlite3
   backend/new_db.sqlite3
   *.sqlite3
backend/db - Copy.sqlite3
backend/new_db.sqlite3
fix_views.bat
update_script.py
update_anomaly_stats.py
fix_views2.py
fix_views.py
